* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrap {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrap .header {
    width: 100%;
    height: 44px;
    background: #000;
}

.wrap .header span {
    float: left;
    color: #fff;
    margin-left: 150px;
    line-height: 44px;
}

.wrap .header button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.wrap .section .titbox {
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #ccc;
}

.wrap .section .titbox .tit {
    width: 100%;
    height: 100%;
    border: none;
    text-indent: 12px;
}

.wrap .section .content {
    width: 99%;
    height: 320px;
}